.video-container{
    width: min(100%, 600px);
    padding-inline: 5px;
    padding-top: 5px;
    padding-bottom:0px;

    margin-block: 10px;

    border-radius: 10px;

    background-color: var(--accent-color);
}

.caption{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 1.2em;

    color: var(--background-color);
}

video{
    width: 100%;
    height: auto;
    margin: 0px;

    border-radius: 10px;
}