.projects-button{
    background-color: var(--accent-color);
    color: var(--background-color);

    text-decoration: none;


    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.projects-button:hover{
    text-decoration: underline;
}

.projects-button-container{
    display: flex;
    justify-content: center;
}

.display-image{
    width: min(100%, 600px);
    padding: 5px;
    border-radius: 5px;
    margin-block: 10px;
    background-color: var(--accent-color);
}

.banner {
    width: 100%;
    box-sizing: border-box;
    background-color: #2279c8;
    padding:10px;
}

.banner-inner {

    width: 100%;
    height: calc(97px*2);

    background-repeat: repeat;
    background-size: 97px, 97px;

    border: 1px solid #56aaea;
    border-bottom: none;
    border-right: none;

    justify-items: center;
    align-content: center;
}

.banner-overlay {
    width: 100%;
    height: 100%;


    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.banner-overlay img{
    height: 80%;
    display: block;
}

.banner-header{

    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .banner-header {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .banner-header {
        font-size: 1rem;
        padding: 5px 10px;
    }
}



.banner-header h1 {
    margin: 0;
    color: white;
}

h3{
    font-size: 1.5em;
}

.large-celebration{
    /* font-size: 5em; */
    font-size: min(8vmin, 5em);
    /* font-size: 100%; */

    font-weight: bold;
    background-color: var(--accent-color);
    color: white;
    border-radius: 50px;
    justify-self: center;

    padding-block: 10px;
    padding-inline: 30px;
}