.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.gallery-item {
    background-color: var(--accent-color);
    padding: 5px;
    border-radius: 15px;
    object-fit: cover;

    align-content: center;

    overflow: hidden;
}

.gallery-image {
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}