section{
    margin-bottom:30px;
}

.project-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-content-container{
    margin-inline: 20px;
}