footer{
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.contact-info{
    color: var(--accent-color);
    font-size: 20px;
}

.contact-email{
    color: var(--accent-color);
    font-size: large;
}

.social-link{
    font-size: large;
    color: var(--accent-color);
}

footer{
    color: var(--accent-color);
    margin-top: 10px;
}