.App {
  text-align: center;
}

main{
  margin-left:10%;
  /* flex: 1; Allow main to grow and fill the available space */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

html, body {
  height: 100%;
  margin: 0;
}