.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  /* color: #063e53; */
  color: var(--accent-color)
}

hr{
  color: gray;
}

hr.big {
  height: 3px;
  border: none;
  background: gray;
}

main{
  margin-inline: clamp(0px, calc(15% - 550px * 0.15), 150px);
  background-color: var(--background-color);
  padding: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* Shadow with offset 0, 10 fade radius, 5 spread*/
  box-shadow: 0px 0px 10px 5px #7c7c7c;
}

.scroll-to-top, section, main{
  scroll-margin-top: 55px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */

  background-color: var(--background-accent-color);
}

html, body {
  height: 100%;
  margin: 0;
}

.inline-container-center{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.inline-container-left{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.content-button{
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;

  height: auto;

  display: inline-block;
  margin-right: auto;
  margin-block: 10px;
  padding: 10px 20px;
}

.content-button:hover{
  text-decoration: underline;
}